
<style>
    .map {
        height: 650px;

        /*box-shadow:0 3px 25px black;"*/

        border:10px #fff solid;
        box-shadow:0 0 5px #ccc
    }
    /*
    Fixes Bootstrap issues with Google Maps
    see http://stackoverflow.com/a/9170756
    */
    .map img {
        max-width: none;
    }
    #over2_map {
        position: absolute;
        top: 40px;
        right: 30px;
        z-index: 99;
    }
</style>

<section class="row">
    <div class="col-md-12">
        <gm-map  gm-map-id="'simpleMap'" gm-map-options="pmc.mapInitOptions" gm-center="pmc.center.latLng" gm-zoom="pmc.zoom" gm-bounds="pmc.bounds" class="map">
            <gm-markers gm-objects="providers"
                        gm-id="object.facilityId"
                        gm-marker-options="pmc.getProviderOpts(object)"
                        gm-position="{ lat: object.location.lat, lng: object.location.lng }"
                        gm-on-activatemarker="pmc.activateMarker(marker);"
                        gm-on-openinfowindow="infoWindow.open(marker.getMap(), marker);"
                        gm-on-openmouseoverinfowindow="mouseOverInfoWindow.open(marker.getMap(), marker);"
                        gm-on-closemouseoverinfowindow="mouseOverInfoWindow.close();"
                        gm-events="markerEvents"
                        gm-on-mouseover="pmc.onMouseOver(object, marker)"
                        gm-on-mouseout="pmc.onMouseOut(object, marker)"
                        gm-on-click="pmc.onProviderClick(object, marker)">
            </gm-markers>
        </gm-map>
        <div gm-info-window="infoWindow">
            <div>
                <p><strong><abbr title="Phone">P:</abbr> {{pmc.selectedProvider.facilityContactMechanism.phone}}</strong> <strong>D:{{pmc.selectedProvider.distance | number:2}}</strong></p>
                <rating ng-model="y" ng-init="y = 3" max="5" readonly="false"></rating>Rate Yourself!</span>
                <address class="small">
                    <strong>{{pmc.selectedProvider.facilityType}}</strong><br>
                    {{pmc.selectedProvider.facilityContactMechanism.address.addressLine1}}<br>
                    {{pmc.selectedProvider.facilityContactMechanism.address.city}}, {{pmc.selectedProvider.facilityContactMechanism.address.state}} {{pmc.selectedProvider.facilityContactMechanism.address.zipcode}}<br>
                </address>
            </div>
        </div>
        <div gm-info-window="mouseOverInfoWindow" gm-info-window-options="pmc.mouseOverInfoWindowOptions">
            <!-- TODO: show mouse over provider data, not selectedProvider -->
            <div>{{pmc.selectedProvider.facilityName}}</div>
            <div>{{pmc.selectedProvider.facilityType}}</div>
        </div>
        <ui-view name="results" autoscroll="false"></ui-view>
        <aside id="over2_map">
            <a class="btn btn-default pull-right" ng-click="doSearch()" > <span class="glyphicon glyphicon-record"></span> Search</a>
        </aside>
    </div>
</section>

<div class="text-info text-right">
    <span class="glyphicon glyphicon-screenshot"></span>  {{pmc.center.latLng}}
    <span class="glyphicon glyphicon-zoom-in"></span> {{pmc.zoom}}

</div>

