<section class="row" collapse="psc.searchCollapsed">
    <form name="searchForm" class="form-horizontal" role="form" ng-submit="doSearch()" novalidate>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-1" ng-class="{'has-error': searchForm.specialty.$invalid}">
                <input type="text" name="specialty" class="form-control" placeholder="Name, specialty, procedures, more..."
                       ng-model="psc.providerSearchParams.specialty"  ng-model-options="{ debounce: 300 }"
                       typeahead="specialty for specialty in psc.getSpecialities($viewValue)"
                       typeahead-editable="false">

            </div>
            <!--<div class="col-md-1">-->
            <!--<button type="button" class="form-control btn btn-default btn-sm">Add Filter</button>-->
            <!--</div>-->
            <div class="col-md-6">
                <div class="input-group" ng-class="{'has-error': searchForm.address.$invalid}">
                    <div class="input-group-btn" dropdown  is-open="psc.status.isopen">
                        <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
                            Within {{psc.providerSearchParams.distance}} miles    <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="psc.setDistance('1')">Within 1 miles    </a></li>
                            <li><a ng-click="psc.setDistance('2')">Within 2 miles    </a></li>
                            <li><a ng-click="psc.setDistance('5')">Within 5 miles    </a></li>
                            <li><a ng-click="psc.setDistance('10')">Within 10 miles  </a></li>
                            <li><a ng-click="psc.setDistance('15')">Within 15 miles  </a></li>
                            <li><a ng-click="psc.setDistance('25')">Within 25 miles  </a></li>
                            <li><a ng-click="psc.setDistance('50')">Within 50 miles  </a></li>
                            <li><a ng-click="psc.setDistance('75')">Within 75 miles  </a></li>
                            <li><a ng-click="psc.setDistance('100')">Within 100 miles</a></li>
                        </ul>
                    </div>

                    <input type="text" name="address" class="form-control" placeholder="Zip, City or Address..."
                           ng-model="psc.providerSearchGeolocation.address"
                           typeahead="address as address.formatted_address for address in psc.getLocations($viewValue)"
                           typeahead-min-length="3" ng-model-options="{ debounce: 300 }"
                           typeahead-on-select="psc.onSelect($item, $model, $label)"
                           typeahead-loading="loadingLocations"  typeahead-editable="false" required>
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-disabled="searchForm.$invalid"  title="search" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</section>
<section class="row">
    <span class="btn btn-info disabled pull-left">Total <span class="badge">{{providers.metadata.total}}</span>    Offset <span class="badge">{{providers.metadata.offset}}</span></span>
    <!-- TODO: use custom pagination template -->
    <a class="btn btn-link col-md-offset-1" ng-disabled="providers.metadata.offset <=0" ng-click="psc.dbCursorMove(-100)" role="button">&laquo; Previous from DB</a>
    <a class="btn btn-link" ng-disabled="providers.metadata.total - providers.metadata.offset <= 100" ng-click="psc.dbCursorMove(100)" role="button"> Next from DB &raquo;</a>

    <a class="btn btn-default pull-right " ng-click="psc.searchCollapsed = !psc.searchCollapsed">
        <span class="glyphicon" ng-class="psc.searchCollapsed ? 'glyphicon-arrow-down': 'glyphicon-arrow-up'"></span> Search
    </a>
</section>