@import "./components/led";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins/panels";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "variables";

.change {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
  background-color: clear;
}

.panel-dark {
  @include panel-variant($brand-darkGray, $panel-primary-text, $brand-darkGray, $brand-darkGray);
}