//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins/text-overflow";



/* editable fix
-------------------------------------------------- */
form[name="form"] .editable {
  display: inline-block;
  padding-top: 5px;
  vertical-align: top;
}

