# See http://help.github.com/ignore-files/ for more about ignoring files.

NOTES.md
/gulp/
gulpfile.js
.DS_Store

# IDE
/.idea
.iml


# Typing #
/typings/

# compiled output
/dist
/tmp
/.tmp

# dependencies
/node_modules

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
.ori
