<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Record Type G</div>
            </div>
            <div class="panel-body">
                Record Type G details for NDC: {{selectedDrug.ndc}}
            </div>
            <ul class="list-group">
                <li class="list-group-item repeat-animation"
                    ng-repeat="(key, value) in selectedDrug.recordTypeG track by key"
                    ng-hide="key === 'errors' || key === 'id' || key === 'version'">{{key}} - {{value}}
                </li><!-- TODO: version hide cause panel box bottom disappear -->
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Record Type J</div>
            </div>
            <div class="panel-body">
                Record Type J details for NDC: {{selectedDrug.ndc}}
            </div>
            <ul class="list-group">
                <li class="list-group-item repeat-animation"
                    ng-repeat="(key, value) in selectedDrug.recordTypeJ track by key"
                    ng-hide="key === 'errors' || key === 'id' || key === 'version'">{{key}} - {{value}}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Record Type M</div>
            </div>
            <div class="panel-body">
                Record Type M details for NDC: {{selectedDrug.ndc}}
            </div>
            <ul class="list-group">
                <li class="list-group-item repeat-animation"
                    ng-repeat="(key, value) in selectedDrug.recordTypeM track by key"
                    ng-hide="key === 'errors' || key === 'id' || key === 'version'">{{key}} - {{value}}
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Record Type A</div>
            </div>
            <div class="panel-body">
                Record Type A details for NDC: {{selectedDrug.ndc}}
            </div>
            <ul class="list-group">
                <li class="list-group-item repeat-animation"
                    ng-repeat="(key, value) in selectedDrug.recordTypeA track by key"
                    ng-hide="key === 'errors' || key === 'id' || key === 'version'">{{key}} - {{value}}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Record Type L</div>
            </div>
            <div class="panel-body">
                Record Type L details for NDC: {{selectedDrug.ndc}}
            </div>
            <ul class="list-group">
                <li class="list-group-item repeat-animation"
                    ng-repeat="(key, value) in selectedDrug.recordTypeL track by key"
                    ng-hide="key === 'errors' || key === 'id' || key === 'version'">{{key}} - {{value}}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Record Type E</div>
            </div>
            <div class="panel-body">
                Record Type E details for NDC: {{selectedDrug.ndc}}
            </div>
            <ul class="list-group">
                <li class="list-group-item repeat-animation"
                    ng-repeat="(key, value) in selectedDrug.recordTypeE track by key"
                    ng-hide="key === 'errors' || key === 'id' || key === 'version'">{{key}} - {{value}}
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">Record Type P</div>
        </div>
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <td ng-repeat="(key, value) in selectedDrug.recordTypePs[0] track by key | filter:{key :!errors}"
                    ng-hide="key === 'class' || key === 'drug'">{{key}}
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="recordType in selectedDrug.recordTypePs track by recordType.id | filter:{key :!errors} ">
                <td ng-repeat="(key, value) in recordType track by key" ng-hide="key === 'class' || key === 'drug'">
                    {{value}}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer"></div>
    </div>
</div>
<div class="row">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">Record Type Q</div>
        </div>
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <td ng-repeat="(key, value) in selectedDrug.recordTypeQs[0] track by key | filter:{key :!errors}"
                    ng-hide="key === 'class' || key === 'drug'">{{key}}
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="recordType in selectedDrug.recordTypeQs track by recordType.id | filter:{key :!errors} ">
                <td ng-repeat="(key, value) in recordType track by key" ng-hide="key === 'class' || key === 'drug'">
                    {{value}}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer"></div>
    </div>
</div>
<div class="row">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">Record Type R</div>
        </div>
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <td ng-repeat="(key, value) in selectedDrug.recordTypeRs[0] track by key | filter:{key :!errors}"
                    ng-hide="key === 'class' || key === 'drug'">{{key}}
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="recordType in selectedDrug.recordTypeRs track by recordType.id | filter:{key :!errors} ">
                <td ng-repeat="(key, value) in recordType track by key" ng-hide="key === 'class' || key === 'drug'">
                    {{value}}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer"></div>
    </div>
</div>
<div class="row">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">Record Type S</div>
        </div>
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <td ng-repeat="(key, value) in selectedDrug.recordTypeSs[0] track by key | filter:{key :!errors}"
                    ng-hide="key === 'class' || key === 'drug'">{{key}}
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="recordType in selectedDrug.recordTypeSs track by recordType.id | filter:{key :!errors} ">
                <td ng-repeat="(key, value) in recordType track by key" ng-hide="key === 'class' || key === 'drug'">
                    {{value}}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer"></div>
    </div>
</div>
<div class="row">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">Record Type T</div>
        </div>
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <td ng-repeat="(key, value) in selectedDrug.recordTypeTs[0] track by key | filter:{key :!errors}"
                    ng-hide="key === 'class' || key === 'drug'">{{key}}
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="recordType in selectedDrug.recordTypeTs track by recordType.id | filter:{key :!errors} ">
                <td ng-repeat="(key, value) in recordType track by key" ng-hide="key === 'class' || key === 'drug'">
                    {{value}}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer"></div>
    </div>
</div>
<div class="row">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">Record Type C</div>
        </div>
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <td ng-repeat="(key, value) in selectedDrug.recordTypeCs[0] track by key | filter:{key :!errors}"
                    ng-hide="key === 'class' || key === 'drug'">{{key}}
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="recordType in selectedDrug.recordTypeCs track by recordType.id | filter:{key :!errors} ">
                <td ng-repeat="(key, value) in recordType track by key" ng-hide="key === 'class' || key === 'drug'">
                    {{value}}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer"></div>
    </div>
</div>
