<div class="row" collapse="searchCollapsed" >
    <form class="form-horizontal" role="form" ng-submit="dsc.onSearch(dsc.drugSearchParams)" novalidate>
        <div class="form-group">
            <label for="inputNDC" class="col-md-1 control-label">NDC</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="inputNDC" ng-model="dsc.drugSearchParams.ndc" placeholder="ndc">
            </div>
            <label for="inputLabel" class="col-md-1 control-label">Label</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="inputLabel" ng-model="dsc.drugSearchParams.labelerName" placeholder="labeler name">
            </div>
            <label for="inputProduct" class="col-md-1 control-label">Product</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="inputProduct" ng-model="dsc.drugSearchParams.productName" placeholder="product name">
            </div>
            <div class="col-md-1">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="dsc.drugSearch.check1"> Check1
                    </label>
                </div>
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-default">Search</button>
            </div>
        </div>
    </form>
</div>