// Override Bootstrap variables here (defaults from bootstrap's /assets/stylesheets/bootstrap/variables";):
$icon-font-path: "../../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path:   "../../../bower_components/fontawesome/fonts";
$brand-darkGray: #384047 !default;
