<div class="clearfix">
  <h2 class="pull-left">Show Provider</h2>
  <div class="pull-right">
    <div class="form-actions">
      <button crud-button="edit" item="ctrl.provider"></button>
      <button crud-button="delete" item="ctrl.provider" ></button>
    </div>
  </div>
</div>

<tabset justified="true">
  <tab heading="General">
    <br/>
    <table class="table table-bordered table-striped">
      <tr display-field label="First Name" value="ctrl.provider.firstName"></tr>
      <tr display-field label="Middle Name" value="ctrl.provider.middleName"></tr>
      <tr display-field label="Last Name" value="ctrl.provider.lastName"></tr>
      <tr display-field label="Gender" value="ctrl.provider.gender"></tr>
      <tr display-field label="Date Of Birth" value="ctrl.provider.dateOfBirth | date: 'MMM d, yyyy'"></tr>
      <tr display-field label="Effective Date" value="ctrl.provider.effectiveDate | date: 'MMM d, yyyy'"></tr>
      <tr display-field label="Cancellation Date" value="ctrl.provider.cancellationDate | date: 'MMM d, yyyy'"></tr>
      <tr display-field label="Npi" value="ctrl.provider.npi"></tr>
      <tr display-field label="Image" value="ctrl.provider.image"></tr>
      <tr display-field label="Rating" value="ctrl.provider.rating"></tr>
      <tr display-field label="Type" value="ctrl.provider.type"></tr>
    </table>
  </tab>
  <tab heading="Contacts">
    <br/>
    <table class="table table-hover table-responsive">
      <thead>
      <th>Id</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      </thead>
      <tbody>
      <tr ng-repeat="contact in ctrl.provider.contacts track by contact.id">
        <td>{{contact.id}}</td>
        <td>{{contact.address.street}}</td>
        <td>{{contact.address.city}}</td>
        <td>{{contact.address.state}}</td>
        <td>{{contact.address.zip}}</td>
      </tr>
      </tbody>
    </table>
  </tab>
  <tab heading="Specialties">
    <br/>
    <table class="table table-hover table-responsive">
      <thead>
      <th>Id</th>
      <th>Code</th>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Parent</th>
      </thead>
      <tbody>
      <tr ng-repeat="specialty in ctrl.provider.specialties track by specialty.id">
        <td>{{specialty.id}}</td>
        <td>{{specialty.code}}</td>
        <td>{{specialty.image}}</td>
        <td>{{specialty.name}}</td>
        <td>{{specialty.description}}</td>
        <td>{{specialty.parent.id}}</td>
      </tr>
      </tbody>
    </table>
  </tab>
</tabset>
