@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins/text-overflow";


/* Map view
-------------------------------------------------- */
.map {
  height: 650px;
  /*box-shadow:0 3px 25px black;"*/
  border:10px #fff solid;
  box-shadow:0 0 5px #ccc;

  /*
  Fixes Bootstrap issues with Google Maps
  see http://stackoverflow.com/a/9170756
  */
  img {
    max-width: none;
  }
}

.search_btn_over_map {
  position: absolute;
  top: 40px;
  right: 30px;
  z-index: 99;
}

.facets_over_map {
  position: absolute;
  top: 80px;
  right: 30px;
  z-index: 99;
}
 .chart {
   width: 500px;
   height: 500px;
 }

/* Truncating text
-------------------------------------------------- */
.truncate {
  display: inline-block;
  @include text-overflow();
}

/* pagination
-------------------------------------------------- */
.pagination {
  margin: 0;
}

/* Map results view
-------------------------------------------------- */
#search_results_over_map {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 99;
}

ol li.list-group-item {
  list-style: none;
  background-color: transparent;
  margin-bottom: 0;
  padding: 0;
  border: 0;
}

.panel {
  &.active{
    background-color: #15E0E0;
  }

  .pull-left {
    float: left;
    margin: 0 10px;
  }

  .facilityName {
    max-width: 100px;
    @extend .truncate;
  }

  address {
    .facilityType {
      max-width: 150px;
      @extend .truncate;
    }
    .addressLine {
      max-width: 130px;
      @extend .truncate;
    }
    .city {
      max-width: 100px;
      @extend .truncate;
    }
  }
}