// Core variables mixins and functions
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins/panels";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "../common/styles/variables";

// Components
@import "../common/styles/components/led";

.change {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
  background-color: clear;
}

.panel-dark {
  @include panel-variant($brand-darkGray, $panel-primary-text, $brand-darkGray, $brand-darkGray);
}
