<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="btn-group pull-right">
                        <a class="btn btn-sm btn-primary" ng-click="$parent.resultsCollapsed = !$parent.resultsCollapsed">
                            <span class="glyphicon" ng-class="$parent.resultsCollapsed ? 'glyphicon-arrow-down': 'glyphicon-arrow-up'"></span>
                        </a>
                    </div>
                    {{pdc.selectedProvider.FST_NM  + ' ' + pdc.selectedProvider.MDL_NM + ' ' +pdc.selectedProvider.LST_NM}}
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="panel-body" style='padding:1px'>
            <h2>{{pdc.selectedProvider.FST_NM}}</h2>
            </div>
        </div>
    </div>
</div>
</div>
