<div class="row">
    <div class="col-md-12">
    <span class="btn btn-info disabled pull-left">Total <span class="badge">{{providers.metadata.total}}</span>    Offset <span class="badge">{{providers.metadata.offset}}</span></span>
    <!-- TODO: use custom pagination template -->
    <a class="btn btn-link col-md-offset-1" ng-disabled="providers.metadata.offset <=0" ng-click="dbCursorMove(-100)" role="button">&laquo; Previous from DB</a>
    <a class="btn btn-link" ng-disabled="providers.metadata.total - providers.metadata.offset <= 100" ng-click="dbCursorMove(100)" role="button"> Next from DB &raquo;</a>
    <a class="btn btn-default pull-right" ng-click="$parent.searchCollapsed = !$parent.searchCollapsed" tooltip="Toggle Search Form" tooltip-placement="right" tooltip-popup-delay="1000">
        <span class="glyphicon" ng-class="$parent.searchCollapsed ? 'glyphicon-arrow-down': 'glyphicon-arrow-up'"></span> Search
    </a>
    </div>
</div>
<!--<div class="row">-->
    <!--<div class="col-md-12">-->
        <!--<span class="label label-primary" ng-repeat="gendar in providers.metadata.facets.PROV_GDR_CD">{{gendar.value}} : {{gendar.count}} </span>-->
        <!--<span class="label label-success" ng-repeat="city in providers.metadata.facets.ADR_CTY_NM">{{city.value}} : {{city.count}} </span>-->
        <!--<span class="label label-info" ng-repeat="speciality in providers.metadata.facets.SPCL_TYP_FULL_DESC">{{speciality.value}} : {{speciality.count}} </span>-->
    <!--</div>-->
<!--</div>-->
<div class="row">
    <div class="col-md-12">
        <gm-map  gm-map-id="'simpleMap'" gm-map-options="pmc.mapInitOptions" gm-center="pmc.center.latLng" gm-zoom="pmc.zoom" gm-bounds="pmc.bounds" class="map">
            <gm-markers gm-objects="providers"
                        gm-id="object.id"
                        gm-marker-options="pmc.getProviderOpts(object)"
                        gm-position="{ lat: object.addresses[0].LAT_NBR, lng: object.addresses[0].LONG_NBR }"
                        gm-on-activatemarker="pmc.activateMarker(marker);"
                        gm-on-openinfowindow="infoWindow.open(marker.getMap(), marker);"
                        gm-on-openmouseoverinfowindow="mouseOverInfoWindow.open(marker.getMap(), marker);"
                        gm-on-closemouseoverinfowindow="mouseOverInfoWindow.close();"
                        gm-events="markerEvents"
                        gm-on-mouseover="pmc.onMouseOver(object, marker)"
                        gm-on-mouseout="pmc.onMouseOut(object, marker)"
                        gm-on-click="pmc.onProviderClick(object, marker)">
            </gm-markers>
        </gm-map>
        <div gm-info-window="infoWindow">
            <div>
                <p><strong><abbr title="Phone">&#9742;:</abbr> {{pmc.selectedProvider.addresses[0].TEL_NBR}}</strong>  <strong>D:{{pmc.selectedProvider.degrees[0].DEG_CD}}</strong></p>
                <rating ng-model="y" ng-init="y = 3" max="5" readonly="false"></rating>Rate Yourself!</span>
                <address class="small">
                    <strong>{{pmc.selectedProvider.specialties[0].SPCL_TYP_FULL_DES}}</strong><br>
                    {{pmc.selectedProvider.addresses[0].ADR_LN_1}}<br>
                    {{pmc.selectedProvider.addresses[0].ADR_CTY_NM}}, {{pmc.selectedProvider.addresses[0].ADR_ST_CD}} {{pmc.selectedProvider.addresses[0].ADR_ZIP_CD}}<br>
                </address>
            </div>
        </div>
        <div gm-info-window="mouseOverInfoWindow" gm-info-window-options="pmc.mouseOverInfoWindowOptions">
            <!-- TODO: show mouse over provider data, not selectedProvider -->
            <div>{{pmc.selectedProvider.FST_NM  + ' ' + pmc.selectedProvider.MDL_NM + ' ' +pmc.selectedProvider.LST_NM| characters:12 :true}}</div>
            <div>{{pmc.selectedProvider.specialties[0].SPCL_TYP_FULL_DESC}}</div>
        </div>
        <ui-view name="results" autoscroll="false"></ui-view>
        <aside class="search_btn_over_map">
            <a class="btn btn-default pull-right" ng-click="doSearch()" tooltip="Spot Search"  tooltip-placement="right" tooltip-popup-delay="500"> <span class="glyphicon glyphicon-record"></span> Search</a>
        </aside><br>
        <aside class="facets_over_map" ng-controller="ProviderFacetsController as pfc">
            <accordion close-others="true">
                <accordion-group is-open="pfc.open1">
                    <accordion-heading> Gender </accordion-heading>
                    <nvd3-pie-chart
                            data="genders"
                            id="genders"
                            height="200"
                            margin="{left:0,top:0,bottom:0,right:0}"
                            x="pfc.xFunction()"
                            y="pfc.yFunction()"
                            showLabels="true"
                            pieLabelsOutside="false"
                            donut="true"
                            donutRatio=".25"
                            tooltips="true"
                            objectEquality="true"
                            showValues="true">
                        <svg></svg>
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="pfc.providerSearchParams.gender" ng-repeat="gender in genders" btn-radio="gender.value" uncheckable>{{gender.value}}</label>
                        </div>
                    </nvd3-pie-chart>
                </accordion-group>
                <accordion-group heading="Cities" is-open="pfc.open2">
                    <nvd3-pie-chart
                            data="cities"
                            id="cities"
                            height="320"
                            margin="{left:0,top:0,bottom:0,right:0}"
                            x="pfc.xFunction()"
                            y="pfc.yFunction()"
                            showLabels="true"
                            showLegend="true"
                            tooltips="true"
                            objectEquality="true"
                            showValues="true">
                        <svg></svg>
                    </nvd3-pie-chart>
                </accordion-group>
                <accordion-group heading="Specialties" is-open="pfc.open3">
                    <nvd3-pie-chart
                            data="specialties"
                            id="specialties"
                            height="200"
                            margin="{left:0,top:0,bottom:0,right:0}"
                            x="pfc.xFunction()"
                            y="pfc.yFunction()"
                            showLabels="true"
                            pieLabelsOutside="false"
                            showValues="true"
                            tooltips="true"
                            objectEquality="true"
                            labelType="value">
                        <svg></svg>
                    </nvd3-pie-chart>
                </accordion-group>
            </accordion>
        </aside>
    </div>
</div>

<div class="text-info text-right">
    <span class="glyphicon glyphicon-screenshot"></span>  {{pmc.center.latLng}}
    <span class="glyphicon glyphicon-zoom-in"></span> {{pmc.zoom}}
</div>
<br/>
